.banner {
    background-color: #6278F7;
    text-align: center;
    
}

.banner img {
    max-width: 100%;
}

@media (max-width: 900px) {
    .banner {
        width: auto;
    }

}
    